#profile{
  align-content: center;
  width:80%;
  margin-right: auto;
  margin-left:auto;
}
body{
  background-image: url('background2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.card{
  width: 80%;
  height:90%;
  margin-right:auto;
  margin-left:auto;
  padding: 3em;
  border-radius: .5em;
}
.cardRow{
  padding:.5em;
  max-width: 100%;
  max-height: 100%; 
  border-radius: .5em;
  border: 0.1em solid rgba(128, 128, 128, 0.281);
  box-shadow: 5px 5px 8px grey;
  background-color: rgba(255, 255, 255, 0.822);
}
.cardRow2{
  padding:.5em;
  max-width: 100%;
  max-height: 100%; 
  border-radius: .5em;
  border: 0.1em solid rgba(128, 128, 128, 0.281);
  box-shadow: 5px 5px 8px grey;
  background-color: rgba(255, 255, 255, 0.103);
}
.cardRow2:hover{
  
  background-color: rgba(255, 255, 255, 0.692);
}
.card-img{
    max-width: 100%;
    max-height: 100%; 
    border-radius: 25%;
}
.list-group{
  border-radius: .5em;
}

/* Education */

.table{
  max-width: 90%;
}

.workExperienceContainer{
  width:80%;
}

.job-area.offwhite {
  background: #2e2e3096; }
  
.workItem 
{
  background-color: rgba(245, 240, 240, 0.774);
  padding: 40px 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: all 0.3s ease 0s; 
}
.employmentDate
{
  padding: .5em;
  background-color: white;
  border-radius:.5em;
  color: black;
  width:50%;
  text-align: center;
  font-weight:bold;
}

  @media (max-width: 576px) {
    .workItem .top-sec {
      flex-direction: column; } }
  .workItem .top-left h4 {
    color: #000;
    font-size: 21px;
    transition: all 0.3s ease 0s;
    font-weight: 700; }
    @media (max-width: 1199px) {
      .workItem .top-left h4 {
        font-size: 18px; } }
  @media (max-width: 576px) {
    .workItem .bottom-sec {
      margin-top: 30px; } }
  .workItem .primary-btn {
    padding: 0 28px;
    background: #fff;
    color: #222222;
    border: 1px solid #90acd1; }
    @media (max-width: 1199px) {
      .workItem .primary-btn {
        padding: 0 15px; } }
    .workItem .primary-btn span {
      color: #222222; }
    .workItem .primary-btn:before {
      color: #222222; }
  .workItem:hover {
    background: #686b6e;
    cursor: pointer;
    color: #fff; }

#contactMe{
  padding: 2em;
  width:100%;
}
.contactContainer{
  border-radius: 2%;
  padding: 2em;
  width:60%;
  margin-right:auto;
  margin-left:auto;
  background-color: white;
}
   
.wrap-contactMe {
  width: 1170px;
  background: #fff;
  border-radius: 10px;
  padding: 82px 180px 33px 180px;
  position: relative;
  display: none;
}

.show-wrap-contactMe {
  visibility: visible;
  opacity: 1;
}



.contactMe-form {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactMe-form-title {
  display: block;
  width: 100%;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 44px;
}



.contactMe-btn-hide {
  color: #333333;
  font-size: 14px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 50%;
  top: -15px;
  right: -15px;
  transition: all 0.4s;
}

.contactMe-btn-hide:hover {
  background-color: #333333;
  color: #fff;
}


/*==================================================================
[ Button show form ]*/

.contactMe-btn-show {
  color: #fff;
  font-size: 39px;

  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactMe-btn-show::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: #8490ff;
  border-radius: 50%;

  top: 0;
  left: 0;
  
  box-shadow: 0 10px 30px 0px #8490ff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-animation: beatbtn 0.9s ease-in-out infinite;
  animation: beatbtn 0.9s ease-in-out infinite;
}


@keyframes beatbtn {
  0% {
    background-color: #8490ffd8;
    transform-origin: center;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    background-color: #8490ffd8;
    transform-origin: center;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}


.wrap-input100 {
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
}


.label-input100 {
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #8490ffd8;
}
input.input100 {
  height: 40px;
}


textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contactMe-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
}

.contactMe-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #3b49c0ef;
  border-radius: 25px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
}

.contactMe-form-btn i {
  transition: all 0.4s;
}

.contactMe-form-btn:hover {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.contactMe-form-btn:hover i {
  transform: translateX(10px);
}
.aboutMeContainer
{
  width:80%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.822);
  padding:2em;
  border-radius: .5em;
}
.educationContainer
{
  width:80%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.822);
  padding:2em;
  border-radius: .5em;
}

.projectsContainer
{
  width:80%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.822);
  padding:2em;
  border-radius: .5em;
  display:block;
}

.projectRow1
{
  height: 50%;
}
.projectRow2
{
  height: 50%;
}

.interestContainer{
  width:80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.822);
  padding:2em;
  border-radius: .5em;
}


.interestItem 
{
  padding: 2em;
  margin-right:auto;
  margin-left:auto;
  width:80%;
  border-radius: 10px;
  transition: all 300ms linear 0s;
  background-color: rgba(255, 255, 255, 0.103);
  min-height: 350px;
}

.interestItem i 
{
  font-weight: 900;
  margin-bottom: 2em;;
  display: block; 
  height:1em;
}
.interestItem i:before 
{
  margin-left: 0px;
  font-size: 60px;
  color: #29272791;
  line-height: 60px; 
}
  
.interestItem:hover 
{
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.342);
  border-color: #fff;
  background: #fff; 
}
.interestItem:hover i:before 
{
  padding:.20em;
  border-radius:100%;
  margin-bottom: .5em;
  background: linear-gradient(to right, #8490ff 0%, #62bdfc 80%);
}

.detailsContainer{
  width:80%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.822);
  padding:2em;
  border-radius: .5em;
}

